@import "md.sass"

// Config vars
$white: #fff

$teal-lightx: #b2d8d8
$teal-light: #66b2b2
$teal-normal: #008080
$teal-heavy: #006666
$teal-heavyx: #004c4c
$gray: #4a4a4a

$primary: $teal-normal
$primary-invert: #fff

body
  font-family: 'Noto Sans JP', sans-serif
  color: #4a4a4a
  p
    line-height: 24px
  div
    box-sizing: border-box
  a
    text-decoration: none
    color: $primary
  ul
    list-style: none
    padding: 0

.content
  .full-width-image-container
    width: 100vw
    height: 400px
    position: relative
    left: 50%
    right: 50%
    margin: 5em -50vw
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.content .tagBox
  margin: 7px 0 0 0;
  list-style: none
  display: flex
  align-content: bottom
  flex-wrap: wrap
  li
    height: 21px;
    line-height: 20px;
    margin: 0 0 0 5px
    padding: 3px 5px
    background: #d3d3d3
    // border: 2px solid #4a4a4a
    border-radius: 3px
    &:hover
      background: $primary
    &:active
      background: $primary
    a
      color: #fff
      font-weight: bold